*{
    margin: 0;
    padding: 0;
 
}
.header{
    width: 100%;
    height: 30px;
    padding: 20px;
    background-color:#111 ;
    display: flex;
    top: 0;
    margin-left: -20px;
    justify-content:space-between ;
    z-index: 1;
    position: fixed;
}

.logo{
   
    width: 100px;
   
}


body{
    background-color:#111;

}

.SmileLogo{
    margin-right: 40px;
}