.row{
    margin-left: 20px;
    color: #fff;
}



.cardDiv{
    display: flex;
    padding: 20px;
    overflow-x: scroll !important;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

}
.cardDiv::-webkit-scrollbar{
    display: none;
}


.cardImg{
    max-height: 250px;
    margin-right: 30px;
    cursor: pointer;
    transition: .4s ease-out; 
    transition-delay: .1s;
}.cardImg:hover{
    transform: scale(1.1);
    transition: .4s ease-out; 
}

.smallimg{
    max-height:150px ;
    margin-right: 20px;
    cursor: pointer;
    transition: .4s ease-out; 
    transition-delay: .1s;
}
.smallimg:hover {
    transform: scale(1.1);
    transition: .4s ease-out; 
  }
